.footer{
    height: 50px;
    background-color: black;
    color: white;
    padding-top: 25px;
}

.socialmedia-icon img{
    height: 50px;
    width: 50px;
    margin-right: 20px;
    padding: 1rem 0;

}
.contact-heading{
    margin-top: 1rem;
}