.footer{
    height: 50px;
    background-color: var(--black-color);
    color: var(--white-color);
    padding-top: 25px;
}

.socialmedia-icon img{
    height: 50px;
    width: 50px;
    margin-right: 20px;
    padding: 1rem 0;

}
.contact-heading{
    margin-top: 1rem;
}
.footer-content{
    color: var(--primary-color);
}