.primary-btn {
  margin-right: 1rem;
}

.container-fluid {
  max-width: 19rem;
  display: block;
  margin: auto;
}

.primary-btn a {
  text-decoration: none;
  color: white;
}
.secondary-btn a {
  text-decoration: none;
  color: #a5bfd8;
}

.project-details {
  max-width: 30rem;
  text-align: justify;
}
